section#interets {
    margin-top: -0.3rem;
    @media screen and (max-width: $breakpoint-tablet) {
        margin-top: 2rem;
    }
    @media screen and (min-width: $breakpoint-tablet) {
        margin-right: 150px;
    }
   
    h3 {
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .interets-circle-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        @media screen and (max-width: $breakpoint-tablet) and (min-width: $breakpoint-mobile) {
            left: 150px;
        }
        @media screen and (min-width: 320px) and (max-width: 480px) {
            left: 10px;
        }
        
        @media screen and (min-width: 480px) and (max-width: $breakpoint-mobile) {
            left: 50px;
        }
        .interets {
            position: absolute;
            border-radius: 50%;
            text-align: center;
            &.sport {
                background-color: rgba(38, 172, 172, 0.85);
                width: 6.5rem;
                height: 6.5rem;
                font-size: 1.375rem;
                color: #fff;
                font-weight: 600;
                line-height: 6.5rem;
                left: 35px;
            }
            &.musique {
                background-color: rgba(43, 196, 196, 0.85);
                width: 7.5rem;
                height: 7.5rem;
                font-size: 1.18rem;
                color: #fff;
                font-weight: 600;
                line-height: 7.5rem;
                top: 75px;
            } 
            &.webdesign {
                background-color: rgba(38, 142, 142, 0.85);
                width: 10.4rem;
                height: 10.4rem;
                font-size: 1.625rem;
                color: #fff;
                font-weight: 600;
                line-height: 10.4rem;
                top: 25px;
                left: 105px;
            }
            &.cinema {
                background-color: rgba(43, 93, 93, 0.85);
                width: 6.3rem;
                height: 6.3rem;
                font-size: 1.3rem;
                color: #fff;
                font-weight: 600;
                line-height: 6.375rem;
                top: 130px;
                left: 225px;
            }
        }
    }
}